.champions-container {
    width: 100%;
    padding: 60px 20px;
    text-align: center;
    opacity: 0;
    transform: translateY(50px);
    animation: fadeUp 1s ease-out forwards;
    animation-delay: 0.3s;
}

.champions-count {
    color: #ccc;
    margin-bottom: 20px;
    font-size: 16px;
}



.champions-card {
    max-width: 900px;
    margin: 0 auto;
    padding: 50px 40px;
    border-radius: 20px;
    background: linear-gradient(90deg, #34164d, #151e55);
    color: white;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.25);
}

.title {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 20px;
}


.subtitle {
    font-size: 18px;
    color: #d2d2d2;
    margin-bottom: 10px;
}

.button-wrapper {
    margin-top: 35px;
    display: flex;
    justify-content: center;
}

.internship-btn {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 14px 28px;
    font-size: 18px;
    color: white;
    border: 2px solid rgba(255, 255, 255, 0.4);
    background: transparent;
    border-radius: 12px;
    cursor: pointer;
    transition: 0.25s ease;
}

.internship-btn:hover {
    background: rgba(255, 255, 255, 0.12);
}




@media (max-width: 900px) {
    .champions-card {
        padding: 40px 30px;
    }

    .title {
        font-size: 28px;
    }

    .subtitle {
        font-size: 17px;
    }

    .internship-btn {
        font-size: 16px;
        padding: 12px 24px;
    }
}


@media (max-width: 500px) {
    .champions-card {
        padding: 30px 20px;
        border-radius: 15px;
        max-width: 400px;
        margin-right: 40px;
    }

    .title {
        font-size: 24px;
        line-height: 1.3;
    }

    .subtitle {
        font-size: 15px;
    }

    .champions-count {
        font-size: 14px;
    }

    .internship-btn {
        width: 100%;
        justify-content: center;
        padding: 12px;
        border-radius: 10px;
        font-size: 16px;
    }


}