.profiles-section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    padding: 20px 40px;
    opacity: 0;
    transform: translateY(50px);
    animation: fadeUp 1s ease-out forwards;
    animation-delay: 0.3s;
}

.profile-card {
    background: #0c0f1c;
    color: white;
    border-radius: 18px;
    overflow: hidden;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
}

.profile-card:hover {
    transform: scale(1.05);
    opacity: 0.85;
}


.profile-img img {
    width: 100%;
    height: 220px;
    object-fit: cover;
}


.profile-content {
    padding: 18px 22px;
}

.profile-badge {
    background: #1f2636;
    padding: 6px 12px;
    border-radius: 8px;
    font-size: 13px;
}

.profile-name {
    margin-top: 12px;
    font-size: 22px;
    font-weight: 600;
}

.profile-title {
    color: #d47eff;
    font-size: 15px;
    margin-top: 4px;
}

.profile-desc {
    margin-top: 10px;
    font-size: 14px;
    opacity: 0.85;
}

.profile-tags span {
    display: inline-block;
    background: #1e293b;
    padding: 6px 12px;
    border-radius: 6px;
    font-size: 12px;
    margin-right: 6px;
    margin-top: 8px;
}

.profile-link {
    display: inline-flex;
    align-items: center;
    margin-top: 15px;
    color: #4aa8ff;
    text-decoration: none;
}

.profile-link:hover {
    text-decoration: underline;
}

.pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
    gap: 20px;
}

.pagination-btn {
    background: #111827;
    border: 1px solid #334155;
    padding: 10px 18px;
    font-size: 16px;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    transition: 0.2s ease;
}

.pagination-btn:disabled {
    opacity: 0.4;
    cursor: not-allowed;
}

.pagination-btn:hover:not(:disabled) {
    background: #1e293b;
}

.dots {
    display: flex;
    gap: 10px;
}

.dot {
    width: 12px;
    height: 12px;
    background: #475569;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.2s;
}

.dot.active {
    background: #38bdf8;

}



@media (max-width: 1100px) {
    .profiles-section {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .profiles-section {
        grid-template-columns: repeat(1, 1fr);
    }
}