.hero-container {
    background-color: #000;
    color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 40px 20px;
    opacity: 0;
    animation: fadeUp 1s ease-out forwards;
    animation-delay: 0.3s;
}


.hero-title {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 40px;
}

.hero-title span {
    background: linear-gradient(90deg, #52b3ff, #a36bff);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.hero-subtitle {
    font-size: 20px;
    opacity: 0.85;
    margin-bottom: 30px;
}



.hero-buttons {
    display: flex;
    gap: 25px;
    padding-bottom: 20px;

}

.btn-explore {
    background: #0094ff;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 1.1rem;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: bold;

}

.btn-community {
    background: transparent;
    border: 2px solid #9b6bff;
    color: #b799ff;
    padding: 15px 30px;
    font-size: 1.1rem;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: bold;
}

.btn-explore:hover {
    opacity: 0.85;
    transform: scale(1.05);
}

.btn-community:hover {
    background: rgba(120, 85, 197, 0.838);
    transform: scale(1.05);
    color: white;
}


.mission-section {
    max-width: 700px;
    margin-top: 40px;
}

.mission-title {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 15px;
}

.mission-article {
    font-size: 1.1rem;
    line-height: 1.6;
    opacity: 0.9;
}