.timeline-section {
    padding: 80px 20px;
    color: white;
    background: #05050a;
    font-family: "Inter", sans-serif;
    opacity: 0;
    animation: fadeUp 1s ease-out forwards;
    animation-delay: 0.3s;
}

.timeline-title {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 60px;
    font-weight: 700;
}

.timeline-container {
    position: relative;
    width: 90%;
    max-width: 950px;
    margin: 0 auto;
}

.line {
    position: absolute;
    left: 60px;
    top: 0;
    bottom: 0;
    width: 2px;
    background: rgba(255, 255, 255, 0.15);
}


.timeline-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    position: relative;
}


.timeline-item:last-child {
    margin-bottom: 0;
}

.icon-wrapper {
    width: 120px;
    display: flex;
    justify-content: center;
    position: relative;
}

.Icon {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background: linear-gradient(135deg, #7f5eff, #4cc6ff);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    color: white;
    z-index: 10;
}


.Card {
    flex: 1;
    background: #0b0f1a;
    padding: 25px 30px;
    border-radius: 14px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    margin: 0;
    transform: perspective(0px) rotateY(-0deg) rotateX(0deg);
}

.card h3 {
    margin: 0 0 8px;
    font-size: 1.25rem;
}

.card p {
    margin: 0;
    opacity: 0.85;
    font-size: 0.95rem;
    line-height: 1.5;
}

.date {
    color: #4cc6ff;
    font-weight: 700;
    margin-right: 6px;
}