.features-section {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 40px 20px;
    opacity: 0;
    animation: fadeUp 1s ease-out forwards;
    animation-delay: 0.3s;
}

.feature-card {
    position: relative;
    flex: 1;
    border-radius: 18px;
    overflow: hidden;
    background: #111;
    height: 350px;
    transition: transform 0.4s ease, box-shadow 0.4s ease;
}

.feature-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease;
}


.feature-card::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.0);
    transition: background 0.4s ease;
}

.feature-card:hover::after {
    background: rgba(0, 0, 0, 0.25);
}

.feature-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.35);
}

.feature-card:hover img {
    transform: scale(1.05);
}

@media (max-width: 900px) {
    .features-section {
        flex-direction: column;
    }

    .feature-card {
        height: 100px;
    }
}