.Marquee-wrapper {
    background: black;
    padding: 60px 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    transform: perspective(1000px) rotateY(-25deg) rotateX(40deg);
    animation: marqueeEntrance 1.3s ease-out forwards;
}

.Marquee-3d {
    display: flex;
    gap: 40px;

    white-space: nowrap;
}

@media (max-width: 900px) {
    .Marquee-3d {
        gap: 25px;
        transform: none;
        justify-content: center;
    }
}

@media (max-width: 600px) {
    .Marquee-3d {
        gap: 18px;
    }
}


.Marquee-column {
    height: 200px;
    overflow: hidden;
    color: white;
    font-size: 16px;
    font-weight: 600;
    width: 160px;
}

@media (max-width: 600px) {
    .Marquee-column {
        font-size: 10px;
        width: 120px;
        height: 170px;
    }
}


.Marquee-content {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.Marquee-item {
    white-space: normal;
    direction: rtl;
    unicode-bidi: bidi-override;
    line-height: 1.3;
}



.gradient-text {
    background: linear-gradient(90deg, #aa5bff, #4b7bff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}


@keyframes scrollUpLoop {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-40%);
    }
}

@keyframes scrollDownLoop {
    0% {
        transform: translateY(-40%);
    }

    100% {
        transform: translateY(0%);
    }
}

.scroll-up {
    animation: scrollUpLoop 8s linear infinite;
}

.scroll-down {
    animation: scrollDownLoop 8s linear infinite;
}

@keyframes marqueeEntrance {
    0% {
        opacity: 0;
        transform: perspective(1200px) rotateY(-45deg) rotateX(70deg) translateY(80px) scale(0.8);
    }

    100% {
        opacity: 1;
        transform: perspective(1000px) rotateY(-25deg) rotateX(40deg) translateY(0) scale(1);
    }
}