.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 20px;
    background: linear-gradient(90deg, #3a0066, #000000);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    z-index: 1000;

}


.left-section {
    display: flex;
    align-items: center;
}

.logo {
    width: 45px;
    height: auto;
    margin-right: 8px;
}

.logo-text {
    font-size: 1.4rem;
    font-weight: bold;
    color: white;

}



.middle-section {
    display: flex;
    align-items: center;
    position: relative;
}


.nav-links {
    display: flex;
    gap: 20px;
}

.header-link {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 1rem;
    text-decoration: none;
    color: white;

}

.header-link:hover {
    color: #4da3ff;

}

.right-section {
    display: flex;
    align-items: center;
}

.start-learning-button {
    padding: 10px 18px;
    background: #0077ff;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.hamburger-menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
    gap: 5px;
    z-index: 1100;
    position: relative;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: white;
    transition: 0.3s;
}

.hamburger-menu.open .bar:nth-child(1) {
    transform: rotate(45deg) translateY(8px);
}

.hamburger-menu.open .bar:nth-child(2) {
    opacity: 0;
}

.hamburger-menu.open .bar:nth-child(3) {
    transform: rotate(-45deg) translateY(-8px);
}



.mobile-menu {
    display: none;
    flex-direction: column;
    background: linear-gradient(180deg, #3a0066, #000000);
    position: fixed;
    top: 60px;
    left: 0;
    width: 100%;
    padding: 20px;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.6);
    z-index: 999;
}

.mobile-menu.show {
    display: flex;
}

.mobile-menu a {
    padding: 12px 0;
    text-decoration: none;
    color: white;
    font-size: 1.1rem;
}

.mobile-menu a:hover {
    color: #4da3ff;

}

.mobile-menu .start-learning-button {
    margin-top: 15px;
    width: 100%;
}

#active {
    color: #4da3ff;
    border-bottom: 2px solid #4da3ff;
    padding-bottom: 3px;
}



@media (max-width: 768px) {

    .nav-links,
    .right-section {
        display: none;
    }

    .hamburger-menu {
        display: flex;
    }
}