.marquee {
    width: 100%;
    height: 50px;

    display: flex;
    align-items: center;
    position: relative;
    background: linear-gradient(90deg, #410476, #071b53, #2d2c2c);
    color: white;
    z-index: 500;
    overflow: hidden;
}



#seperator {
    opacity: 0.5;

}


.marquee-track {
    display: flex;
    width: fit-content;
    white-space: nowrap;
    animation: marquee-scroll 8s linear infinite;

}


.marquee-content {
    display: flex;
    align-items: center;
    gap: 60px;
    padding-right: 60px;
    opacity: 0.9;
}


.marquee-btn {
    background: linear-gradient(90deg, #8a4fbe, #4f68e8);
    border: none;
    padding: 6px 14px;
    padding-bottom: 10px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    font-size: 15px;
    color: white;
    transition: 0.2s;
}

.marquee-btn:hover {
    transform: scale(1.25);
}


@keyframes marquee-scroll {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-45%);

    }
}