.whatsapp-floating {
    position: fixed;
    bottom: 25px;
    right: 25px;
    width: 60px;
    height: 60px;
    background: #25d366;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
    font-size: 32px;
    text-decoration: none;

    box-shadow: 0 0 0 rgba(37, 211, 102, 0.7);
    animation: pulse 1.8s infinite;

    z-index: 9999;

}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(37, 211, 102, 0.7);
    }

    50% {
        box-shadow: 0 0 15px 12px rgba(37, 211, 102, 0.3);
    }

    100% {
        box-shadow: 0 0 0 0 rgba(37, 211, 102, 0.0);
    }
}

.wa-icon {
    pointer-events: none;
}